{% extends './model.html'%}
{% load bootstrap %}

{% block style %}

{% endblock %}

{% block content %}

<main role="main" class="container">
    <div class="row">
      <div class="col-md-12 blog-main">
        <h3 class="pb-3 mb-4 font-italic border-bottom"></h3>

        <div class="card-body">
          <h4>Logs</h4>
          <table class="table">
              <thead>
                  <tr>
                      <th scope="col">Hash id</th>
                      <th scope="col">Date created</th>
                      <th scope="col">Content</th>
                      <th scope="col"></th>
                  </tr>
              </thead>
              <tbody>
                  {% for log in logs %}
                  <tr>
                      <td>{{ log.log_id }}</td>
                      <td>{{ log.date_created }}</td>
                      <td>{{ log.content }}</td>
                      <td><a type="button" class="btn btn-warning" href="/file-details/{{ log.id }}">Details</a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>

      </div><!-- /.blog-main -->


    </div><!-- /.row -->

  </main>
{% endblock %}