{% extends './model.html'%}
{% load bootstrap %}

{% block style %}


{% endblock %}

{% block content %}

<main role="main" class="container">
    <div class="row">
      <div class="col-md-12 blog-main">
        <div class="blog-post">
          <h3>My Contract</h3>
          <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Generate</a>
            <a class="btn btn-outline-secondary disabled" href="#">Details</a>
          </nav>
          <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Hash id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Date created</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in files %}
                    <tr>
                        <td>{{ file.hash_id }}</td>
                        <td>{{ file.file_name}}</td>
                        <td>{{ file.date_created }}</td>
                        <td><a type="button" class="btn btn-warning" href="/file-donwload/{{ file.id }}">Download</a>
                            <a type="button" class="btn btn-danger" href="/file-delete/{{ file.id }}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
         

      </div><!-- /.blog-main -->


    </div><!-- /.row -->

  </main>
{% endblock %}