
<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% include "./header.html" %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" >
        <title>ChainDRM - 819 Applied Project</title>
    </head>
    <body>
        <div class="container">
        {% block style %}
        {% endblock %}
        {% include "./navbar.html" %}
        {% block content %}
        {% endblock %}
        {% include "./footer.html" %}
    </div>
    </body>
</html>